@model IEnumerable<ManagerUI.Models.Order>

@{
    ViewData["Title"] = "Orders Page";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

<h1>Order History</h1>

<div>
    <span>
        <a asp-action="SortDateDesc">Date Desc  |</a>
    </span>
    <span>
        <a asp-action="SortDateAsc">Date Asc  |</a>
    </span>
    <span>
        <a asp-action="SortTotalDesc">Total Desc  |</a>
    </span>
    <span>
        <a asp-action="SortTotalAsc">Total Asc</a>
    </span>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Table Number
            </th>
            <th>
                Total
            </th>
            <th>
                Beer Name
            </th>
            <th>
                ABV
            </th>
            <th>
                IBU
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => order.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.TableNumber)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => order.TotalPrice)
                </td>
            </tr>
            @foreach (var item in order.LineItems)
            {
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Beer.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Beer.ABV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Beer.IBU)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Beer.Price)
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
